body{
  background-image: linear-gradient(-45deg, rgba(27, 187, 160, 0.8), rgba(32, 157, 214, 0.767));
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.App{
  /* position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%); */
  margin-top: 100px;
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

 .App button{
  background: #ffffff4f;
  padding: 8px;
  border-radius: 10px;
  border: none;
  margin: 10px 0px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.App button:hover{
  /* background-image: linear-gradient(-45deg, rgba(62, 29, 180, 0.8), rgba(19, 190, 125, 0.767)); */
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  transition: all 0.3s ease-in;
}
.App input{
  border: none;
  background: none;
  border-bottom: 1px solid black;
  /* margin: 0px 100px; */
  font-weight: 300px;
  font-size: 18px;
  outline: none;
  padding: 2px 8px 0px 8px;
}
.App input:focus{
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  transition: 0.2s ease-in;
}


.weather-result{
  background: #ffffff7d;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}
.weather-result__wrapper{
  display: flex;
  justify-content: space-between;
  /* margin: 10px; */
  padding: 8px;
}
.weather-result__text{
  display: flex;
  align-items: center;
  font-size:20px ;
  font-weight: 300;
}
img{
  height: 50px;
  width: 20%;
}
.text-app{
  text-align: center;
  font-weight: 500;
  font-size: 50px;
  padding: 8px;
}
.form-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width:768px) {
  .weather-result__text{
    font-size: 18px;
  }
  .result{
    /* margin: 0px 70px; */
  }
  html{
    /* height: 100%; */
    overflow-x: hidden;
  }
}